@use "reset" as *;

// variables

$primary-color: #333;
$secondary-color: #222;
$w-t-color: #fff;
$b-t-color: #000;
$text-shadow: 0.2rem 0.2rem 0.2rem #000;
$icon-color: #a79a2d;

html {
  font-size: 62.5%;
}

// navbar

.navbar {
  width: 100%;
  height: 14rem;
  background: $b-t-color;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $text-shadow;
}

.navbar-link {
  color: $icon-color;
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: color 0.3s;

  i {
    font-size: 7rem;
  }

  span {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    margin-top: 0.5rem;
  }

  &:hover {
    color: $w-t-color;
  }
}

// section 1

.section-1 {
  width: 100%;
  height: 100vh;
  background: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section-heading {
  font-size: 12rem;
  font-weight: 900;
  color: $w-t-color;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: $text-shadow;
}

.section-1-icons i {
  font-size: 35rem;
  color: $icon-color;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  text-shadow: $text-shadow;
  transition: transform 0.3s;
}

.section-1-icons i.change {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s 0.3s;
}

/* Section 2 */

.section-2 {
  width: 100%;
  height: 100vh;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem 0;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 30rem;
  background-color: $icon-color;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: $text-shadow;
  position: relative;
  transition: transform 0.5s, box-shadow 0.5s;

  &:hover {
    transform: translateY(-3rem);
    box-shadow: $text-shadow;
  }
}

.card-img {
  width: 100%;
}

.card-name {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: $b-t-color;
  margin: 2rem 0;
}

.card-btn {
  width: 70%;
  background-color: $secondary-color;
  color: $w-t-color;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border: none;
  padding: 0.5rem 0;
  cursor: pointer;
}

// section 3

.section-3 {
  background-color: $primary-color;
  padding: 5rem 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
}

.gallery-link {
  position: relative;
  margin: 4rem 1rem;

  &::before {
    content: "";
    position: absolute;
    top: 2vw;
    left: 80%;
    width: 0.2rem;
    height: 0;
    background-color: #fff;
    z-index: 10;
    transition: height 0.5s;
  }
}

.gallery-link::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 2rem;
  width: 0;
  height: 0.2rem;
  background-color: #fff;
  transition: width 0.5s;
}

.gallery-link:hover::before {
  height: 80%;
}

.gallery-link:hover::after {
  width: 90%;
}

.food-img {
  width: 24vw;
  height: 15vw;
  object-fit: cover;
  box-shadow: $text-shadow;
}

.gallery-link:hover .food-img {
  transform: scale(1.1);
  filter: blur(0.5rem);
  opacity: 0.5;
}

.food-name {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: $w-t-color;
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
}

.gallery-link:hover .food-name {
  width: 100%;
  transition: width 1.5s 0.5s;
}

.food-description {
  position: absolute;
  bottom: 3vw;
  left: 2rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: $w-t-color;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.gallery-link:hover .food-description {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s 1s;
}

// Section 4

.section-4 {
  width: 100%;
  height: 30vh;
  background-color: $secondary-color;
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
  position: relative;
  align-items: flex-start;
}

.section-4-text {
  text-transform: uppercase;
}

.section-4-heading {
  font-size: 4rem;
  font-weight: 900;
  color: $icon-color;
}

.section-4-paragraph {
  font-size: 1.5rem;
  color: $w-t-color;
}

.sign-up-form {
  display: flex;
  align-items: center;
}

.sign-up-form-input {
  width: 35rem;
  height: 5rem;
  padding: 1rem;
  border: 0.2rem solid $icon-color;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: $icon-color;
}

.sign-up-form-input::placeholder {
  color: $icon-color;
}

.sign-up-form-btn {
  position: relative;
  left: -4.5rem;
  width: 4rem;
  height: 4rem;
  background-color: $primary-color;
  color: $icon-color;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.copyright {
  position: absolute;
  bottom: 3rem;
  font-size: 1.7rem;
  font-weight: 200;
  color: $w-t-color;
  letter-spacing: 0.1rem;
  border-top: 0.1rem solid $w-t-color;
  padding-top: 6rem;
  width: 100%;
  text-align: center;
}
